@import url('https://fonts.googleapis.com/css?family=Playfair&display=swap');
/* Box Model Hack */
* {
    box-sizing: border-box;   
  }
  
/* Clear fix hack */
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
  
.clear {
    clear: both;
}
  
/******************************************
/* BASE STYLES
/*******************************************/

html{
    font-size: 62.5%;
    background-color: #536058;
    font-family: Playfair, serif;
    color: #663412;
}

.borderColor{
    border-color: #cfcecc;
}

/******************************************
/* LAYOUT
/*******************************************/

header{
    width: 96%;
    margin: auto;
    padding: 1rem 0;
    border-bottom: 2px solid;
    display: flex;
    justify-content: space-around;
    margin-bottom: 1rem;
}

.logo{
    width: 16rem;
}

.logoImg{
    width: 100%;
    object-fit: contain;
}

.headerNav{
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

.navLinks li{
    display: inline-block;
    margin: 0 1.5rem;
}

.navLinks a{
    text-decoration: none;
    font-size: 2.4rem;
    color: #733a14;
    background-color: #d4cdc1;
    border-radius: 0.4rem;
    padding: 0.3rem;
}

.navLinks a:hover{
    color: #536058;
    text-decoration: underline;
}

body {
    font-size: 1.6rem;
}

.slideshow{
    background-color: #cfcecc;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto auto;
    width: 80%;
    text-align: center;
    box-shadow: 0.5rem 0.5rem 0.4rem black;
}

.slideImages{
    width: 100%;
    display: flex;
    margin: 0 auto;
    overflow-x: hidden;
}

.imageSlide{
    position: relative;
    width: 100%;
    flex-shrink: 0;
    overflow-y: hidden;
}

.imageSlide img{
    max-height: 100%;
    max-width: 100%;
}

.quote{
    position: absolute;
    bottom: 0.2rem;
    padding: 1rem;
    background-color: rgb(0, 0, 0, 0.7);
    color: white;
}

.slideArrows{
    font-size: 10rem;
    position: absolute;
    width: 97%;
    display: flex;
    justify-content: space-between;
}

.slideArrows span{
    color: rgb(48, 48, 48);
    z-index: 2;
    transition: transform 0.2s;
}

.slideArrows span:hover{
    cursor: pointer;
    transform: scale(1.2);
}

.mission, .reviews, .info{
    display: flex;
    justify-content: space-between;
    padding-top: 1.6rem;
    width: 80%;
    margin: auto;
    height: 66vh;
}

.mission>*, .reviews>*, .info>*{
    width: 49.5%;
}

.missionText, .reviewText, .infoText{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ownerImg, .customerReview{
    display: flex;
    justify-content: center;
}

.ownerImg img, .customerReview img, .map iframe{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.missionText, .reviewText, .infoText{
    background-color: #cfcecc;
}
.missionText>*, .reviewText>*, .infoText>*{
    width: 50%;
    font-size: 2rem;
}

.gallery{
    display: flex;
    position: relative;
    margin: 0.8rem auto;
    width: 80%;
    justify-content: space-around;
    align-items: center;
}

.galleryThumb{
    max-width: 15%;
    height: 16rem;
}

.galleryThumb img{
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.2s;
    cursor: pointer;
}

.galleryThumb img:hover{
    transform: scale(1.2);
}

.foodModal{
    position:fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border-radius: 0.2rem;
    z-index: 10;
    margin: auto;
}

.foodModal.active{
    transform: translate(-50%, -50%) scale(1);
}

.fullImage {
    object-fit: contain;
    max-width: 100%;
    max-height: 97vh;
    margin: auto;
}

#closeModal{
    position: absolute;
    top: 0;
    left: 100%;
    opacity: 0.6;
    background-color: white;
    cursor: pointer;
    font-size: 3rem;
    font-weight: bold;
}

.overlay {
    position: fixed;
    opacity: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgb(0, 0, 0, 0.7);
    transition: 200ms ease-in-out;
    pointer-events: none;
}

.overlay.active {
    pointer-events: all;
    opacity: 1;
    z-index: 9;
}

footer{
    margin-top: .5rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    background-color: black;
    color: white;
    border-top: 3px solid;
    padding: 0 1rem;
}

.footDiv{
    width: 50%;
    color: white;
    font-size: 2rem;
}

.socialIcons, .footNav{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.socialIcons *, .footNav *{
    color: white;
    font-size: 2rem;
    margin-right: 1rem;
    display: inline-block;
}

.footNav{
    display: flex;
    justify-content: flex-end;
}

.copyright{
    width:100%;
    text-align: center;
}

.menu, .reservations{
    background-color: #cfcecc;
    position: relative;
    width: 95%;
    margin: auto;
    line-height: 3rem;
    font-size: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu>*:not(#foodBackground){
    z-index: 2;
}

#foodBackground{
    position: absolute;
    justify-self: center;
    align-self: center;
    opacity: 50%;
    max-width: 60%;
}
.menu>h2{
    text-align: center;
}
.menu>ul{
    list-style-type: none;
    text-align: right;
}

.resForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2rem 0;
    width: 60%;
}

.resForm>*{
    list-style-type: none;
    margin: 0.8rem;
}

.dateTime{
    margin: auto;
}
.dateTime>*{
    margin: 1rem;
}